# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RobloxTycoon.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\RobloxTycoon\.idea\.idea.RobloxTycoon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
